<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../bootstrap.min.css">
	<script type="text/javascript" src="../angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<!--<script >
		var invocation = new XMLHttpRequest();
var url = 'http://192.168.0.8:8080/api/frontend/songs';
   
function callOtherDomain() {
  if(invocation) {    
    invocation.open('GET', url, true);
    invocation.onreadystatechange = handler;
    invocation.send(); 
  }
}
	</script>-->
<style>
	header {
    background-color:#8c0d26;
    color:white;
    text-align:center;
    height: 150px;
    font-size: 50px;
    padding:10px;	 
}
</style>
</head>
<body>
<header>Breezer</header>
<nav ng-app="first">
<ul class="nav nav-pills">
	<li ng-class="{active:tab===1}">
	<a href ng-click="tab = 1">Music</a>
	</li>
	<li ng-class="{active:tab===2}">
	<a href ng-click="tab = 2">Videos</a>
	</li>
	<li ng-class="{active:tab===3}">
	<a href ng-click="tab = 3">Books</a>
	</li>
</ul>
<div class="panel" ng-show="tab === 1" ng-controller="mySongs">
<ui>
	<h4> Songs </h4>
	<li ng-repeat="song in songs">
	<div>
	{{song.name}}
	<img src="http://192.168.0.8/{{song.picUrl}}" width="200px" height="200px">
	</div>
	</li>
</ui>
</div>
<div class="panel" ng-show="tab === 2" ng-controller="myVideos">
	<ui>
	<h4> Videos </h4>
	<li ng-repeat="video in videos">
	{{video.name}}
	</li>
</ui>
</div>
<div class="panel" ng-show="tab === 3" ng-controller="myBooks">
<ui>
	<h4> Books </h4>
	<li ng-repeat="book in books">
	{{book.name}}
	</li>
</ui>
</div>
</nav>
<!--<section>
	<img src="image1.jpg" style="width:1200px;height:500px;">
</section>
<footer>Copyright Breezer.com</footer>-->
</body>
</html>
